.card_box{
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 10px 0;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
@media (max-width:992px){
    .card{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:768px){
    .card{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:600px){
    .card{
        grid-template-columns: 1fr;
    }
}