body{
    margin: 0;
}
.navbar{
    width: 100%;
    background-color: black;
    padding: 15px;
    position: fixed;
    top: 0;
}
.navlink{
    text-decoration: none;
    margin-left: 15px;
}
.section{
    margin-top: 100px;
}
.section div{
    background-color: rgb(252, 96, 96);
    height: 60vh;
    padding: 100px;
    border: 2px solid rgb(218, 18, 18);
    text-align: justify;
    margin-top: 50px;
}
span{
    font-size: xx-large;
    font-weight: bolder;
    color: crimson;
}
p{
    font-size: 25px;
}

