body{
    background-color: teal;
}
p{
    color: red;
    text-align: center;
    font-size: 50px;
}

@media (max-width:992px){
    body{
        background-color: greenyellow;
    }
    p{
        color: teal;
        text-align: center;
        font-size: 40px;
    }
}
@media (max-width:768px){
    body{
        background-color: rgb(211, 110, 110);
    }
    p{
        color: rgb(26, 58, 58);
        text-align: center;
        font-size: 30px;
    }
}
@media (max-width:600px){
    body{
        background-color: rgb(148, 214, 214);
    }
    p{
        color:yellowgreen;
        font-size: 20px;
        text-align: center;
    }
}